<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">To home page</button>
    </div>

    <div class="info">
        <strong>Author</strong>
        <small>04.04.2022</small>
    </div>
    
    <div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore odit asperiores 
            nostrum vitae unde, praesentium ex, blanditiis, incidunt ullam eius qui. Suscipit, 
            mollitia eos a inventore recusandae repellendus voluptatum architecto qui 
            voluptates aliquam ex! Deserunt vero commodi nemo quia earum repudiandae 
            suscipit quaerat. Non numquam ratione earum neque vel possimus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore odit asperiores 
            nostrum vitae unde, praesentium ex, blanditiis, incidunt ullam eius qui. Suscipit, 
            mollitia eos a inventore recusandae repellendus voluptatum architecto qui 
            voluptates aliquam ex! Deserunt vero commodi nemo quia earum repudiandae 
            suscipit quaerat. Non numquam ratione earum neque vel possimus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore odit asperiores 
            nostrum vitae unde, praesentium ex, blanditiis, incidunt ullam eius qui. Suscipit, 
            mollitia eos a inventore recusandae repellendus voluptatum architecto qui 
            voluptates aliquam ex! Deserunt vero commodi nemo quia earum repudiandae 
            suscipit quaerat. Non numquam ratione earum neque vel possimus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore odit asperiores 
            nostrum vitae unde, praesentium ex, blanditiis, incidunt ullam eius qui. Suscipit, 
            mollitia eos a inventore recusandae repellendus voluptatum architecto qui 
            voluptates aliquam ex! Deserunt vero commodi nemo quia earum repudiandae 
            suscipit quaerat. Non numquam ratione earum neque vel possimus.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore odit asperiores 
            nostrum vitae unde, praesentium ex, blanditiis, incidunt ullam eius qui. Suscipit, 
            mollitia eos a inventore recusandae repellendus voluptatum architecto qui 
            voluptates aliquam ex! Deserunt vero commodi nemo quia earum repudiandae 
            suscipit quaerat. Non numquam ratione earum neque vel possimus.
        </p>
    </div>
</div>
